<a href="https://colab.research.google.com/github/tianygoulart/Python/blob/main/2_Lista%2C_tupla%2C_dicion%C3%A1rio_e_conjunto.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tipos de armazenamento de valores:
* Lista: armazena valores, aumentando ou diminuindo dinamicamente.
* Tupla: compactam um número finito de valores e não mudam.
* Dicionário: armazena valores por chaves.
* Conjuntos: coleção de objetos.

# Armazenamento: Lista [ ]
Listas: conjunto de dados mutáveis (pode ter elementos alterados)

In [ ]:
# Exibe a lista:

lista = ['banana', 'amora', 'damasco', 'carambola']
print(lista)

['banana', 'amora', 'damasco', 'carambola']

In [ ]:
type(lista)

list

In [ ]:
# Ordena a lista:
lista = ['banana', 'amora', 'damasco', 'carambola']

lista.sort()

print(lista)

['amora', 'banana', 'carambola', 'damasco']

In [ ]:
# Exibe o conteúdo da lista em ordem inversa:
lista = ['amora', 'banana', 'carambola', 'damasco']

lista.reverse()

print(lista)

['damasco', 'carambola', 'banana', 'amora']

In [ ]:
# Exibe o valor em uma determinada posição:

lista = ["amora", "banana", "carambola"]
print(lista[1])

banana

In [ ]:
# Exibe a posição de um determinado valor:

lista = ["amora", "banana", "carambola"]
print(lista.index("carambola"))

2

In [ ]:
# Exibe a quantidade de elementos da lista:
lista = ['amora', 'banana', 'carambola', 'damasco']

print(len(lista))

4

In [ ]:
# Exibe a quantidade de vezes que aparece um determinado valor:

lista = ['uva', 'amora', 'uva', 'uva',  'banana', 'carambola', 'damasco']

print(lista.count('uva'))

3

In [ ]:
# Exibe um range da lista:
a = ['amora', 'banana', 'carambola', 'damasco', 'espinafre', 'framboesa']

print(a[0:4])

['amora', 'banana', 'carambola', 'damasco']

In [ ]:
# Exibe um range da lista, a cada 2 elementos
a = ['amora', 'banana', 'carambola', 'damasco', 'espinafre', 'framboesa']

print(a[0:5:2])

['amora', 'carambola', 'espinafre']

In [ ]:
# Altera o elemento que está na posição 2:

lista = ['amora', 'banana', 'carambola']
lista[2] = 'castanha'
print(lista)

['amora', 'banana', 'castanha']

In [ ]:
# append: insere um item ao final da lista
lista = ['amora', 'banana', 'carambola']
lista.append('damasco') 
print(lista)

['amora', 'banana', 'carambola', 'damasco']

In [ ]:
# extend: mescla duas listas
lista = ['amora', 'banana', 'carambola']
lista.extend(['damasco', 'espinafre']) 
print(lista)

['amora', 'banana', 'carambola', 'damasco', 'espinafre']

In [ ]:
# insert: insere um item em uma determinada posição
lista = ['amora', 'banana', 'damasco',]
lista.insert( 2, 'carambola')
print(lista)

['amora', 'banana', 'carambola', 'damasco']

In [ ]:
# Remove um elemento pelo nome
lista = ['amora', 'banana', 'carambola', 'damasco']
lista.remove('amora')
print(lista)

['banana', 'carambola', 'damasco']

In [ ]:
# Remove um elemento pela posição
lista = ['amora', 'banana', 'carambola', 'damasco']

del lista[0]

print(lista)

['banana', 'carambola', 'damasco']

In [ ]:
# Remove um elemento pela posição 
lista = ['amora', 'banana', 'carambola', 'damasco']

lista.pop(0)

print(lista)

['banana', 'carambola', 'damasco']

# Armazenamento: Tupla ( )
* Tuplas: conjunto de dados imutáveis (não pode ter elementos alterados) 
* (usado para estruturas que não devem ser modificadas)
* Ex.: dias da semana ou datas de um calendário.

In [ ]:
tupla = ('segunda', 'terça', 'quarta', 'quinta', 'sexta')

print(tupla.index("sexta"))

4

In [ ]:
type(tupla)

tuple

In [ ]:
tupla = ('segunda', 'terça', 'segunda', 'segunda', 'quarta', 'quinta', 'sexta')

print(tupla.count("segunda"))

3

In [ ]:
# Não posso alterar uma tupla, mas posso convertê-la em uma lista, alterá-la e
# convertê-la a tupla novamente

tupla = ('segunda', 'terça', 'quarta', 'quinta', 'sexta')
lista = list(tupla)
lista.extend(['sábado', 'domingo']) 
tupla = tuple(lista)
print(tupla)

('segunda', 'terça', 'quarta', 'quinta', 'sexta', 'sábado', 'domingo')

# Armazenamento: Dicionário { }
* Dicionário é um mapa de associações  
* dicionário = {"chave":valor}

In [ ]:
# Para imprimir o valor de uma unidade, execute:
dicionario = {'Amanda': 18, 'Bruno': 22, 'Carlos': 19}
print(dicionario['Amanda'])

18

In [ ]:
# Exibe as chaves dos dicionários:
dicionario = {'Amanda': 18, 'Bruno': 22, 'Carlos': 19}
print(dicionario.keys())

dict_keys(['Amanda', 'Bruno', 'Carlos'])

In [ ]:
# Exibe os valores das chaves:
dicionario = {'Amanda': 18, 'Bruno': 22, 'Carlos': 19}
print(dicionario.values())

dict_values([18, 22, 19])

In [ ]:
# Adiciona uma chave e valor ao final do dicionário
dicionario = {'Amanda': 18, 'Bruno': 22, 'Carlos': 19}
dicionario["Davi"]= 23
print(dicionario)

{'Amanda': 18, 'Bruno': 22, 'Carlos': 19, 'Davi': 23}

In [ ]:
# Une dicionários
dicionario = {'Amanda': 18, 'Bruno': 22, 'Carlos': 19}
dicionario2 = {'Davi': 23, 'Eduardo': 25}

dicionario.update(dicionario2)
print(dicionario)

{'Amanda': 18, 'Bruno': 22, 'Carlos': 19, 'Davi': 23, 'Eduardo': 25}

In [ ]:
# Remove a última chave e valor
dicionario = {'Amanda': 18, 'Bruno': 22, 'Carlos': 19}
dicionario.popitem()
print(dicionario)

{'Amanda': 18, 'Bruno': 22}

In [ ]:
# Remove uma chave e valor
dicionario = {'Amanda': 18, 'Bruno': 22, 'Carlos': 19}
dicionario.pop("Bruno")
print(dicionario)

{'Amanda': 18, 'Carlos': 19}

In [ ]:
# Limpa o dicionário:
dicionario = {'Amanda': 18, 'Bruno': 22, 'Carlos': 19}
dicionario.clear()
print(dicionario)

{}

# Armazenamento: Conjunto { }
* Set são como os conjuntos da matemática
* Não possui ordenação nem índice
* Não permitem valores duplicados

In [ ]:
# Definindo um conjunto
conjunto = set(['lápis', 'borracha', 'caneta', 'lápis'])
print(conjunto)

{'borracha', 'caneta', 'lápis'}

In [ ]:
# Observe que não possui indexação:
conjunto[0]

In [ ]:
# Se eu tentar adicionar um elemento que já existe, não há alteração:
conjunto.add('borracha')
print(conjunto)

{'borracha', 'caneta', 'lápis'}

In [ ]:
type(conjunto)

set